body {
    background: #f4f4f4;
    font-family: sans-serif;
}

.main {
    text-align: center;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
