.logo{}

.logo img {
    width: 164px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}
.right ul{
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
right ul li span{
    padding: 0 5px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span{
    font-size: 40px;
}
section span img{
    width: 82px;
    margin: 0 23px;
}

.first p{
    font-size: 23px;
    width: 44vw;
    text-align: center;
}

.btn{
    background-color: rgb(105, 190, 216);
    padding: 14px 16px;
    
}